body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background-color: white;
}

.image-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: 500px;
    display: block;
}

.text-overlay {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .image-container .text-a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.container .image-container .text-b {
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
/* --------------------------------------------- */
.menu-box {
    width: 100%;
    height: 80px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #dddddd;
    margin: 0;
    padding: 0;
}

.menu-box .inner {
    display: flex;
    /* max-width: 1100px; */
    height: 80px;
    margin: 0 auto;
    padding-left: 100px;
    align-items: center;
}

.menu-box .inner > a {
    width: 24px;
    height: 24px;
    color: black;
}

.menu-box .main {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding-left: 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.menu-box .main li {
    display: flex;
    height: 100%;
}

.menu-box .main li a {
    display: flex;
    height: 100%;
    margin: 0;
    padding-right: 30px;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

.menu-box .main > li {
    display: inline-block;
    width: 200px;
    text-align: left;
    font-size: 17px;
}

.menu-box .main > li > a {
    color: black;
    margin: 0;
    padding-left: 15px;
    font-weight: bold;
}

.menu-box .main > li > a > span {
    color: lightgrey;
}

.menu-box .main > li:hover > .sub {
    display: block;
    background-color: #F7F7F7;
}

.menu-box .sub {
    position: relative;
    display: none;
    list-style: none;
    z-index: 30;
    width: 150px;
    margin: 0;
    padding: 15px;
    
}

.menu-box .sub li a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1px;
}

.menu-box .sub li a:hover {
    color: #046cc4;
}
/* ----------------------------- */

.content {
    margin: 0;
    padding: 100px 0;
    width: 100%;
    height: auto;
}

.text-section {
    margin: 0 auto;
    max-width: 1250px;
}


.text-section h4 {
    justify-content: start;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 20px; 
}

.btn-group {
    margin-left: -33px;
    padding: 100px 0;
    text-align: center;
    justify-content: center;
}

.btn {
    width: 150px;
    padding: 15px 20px;
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: white;
    color: #046cc4;
    border-color: #046cc4;
}

.btn.active {
    background-color: white;
    color: #046cc4; /* 텍스트 색상도 필요하면 변경 가능 */
    border-color: #046cc4; /* 테두리도 같은 색으로 변경 */
}
/* --------------------------------------- */

.section-cnc {
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
}

.section-cnc .wrapper-cnc {
    display: flex;
    /* border-top: 1px solid #ddd; */
}

.section-cnc .wrapper-cnc .section-title {
    min-width: 160px;
    margin: 0;
    padding-left: 30px;
}

.section-title p {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 280px;
    margin: 0;
    padding: 50px 0;
}

.swiper {
    width: 60%;
    height: 300px;
    margin: 0 auto;
}

.swiper .swiper-pagination-bullet {
    background-color: #595959;
}

.swiper-slide {
    max-width: 100%;
    height: auto;
} 

.swiper-wrapper img {
    width: 325px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    margin: 0;
    padding: 0;
}

/* --------------------------------------- */

.section-robots {
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
}

.section-robots .wrapper-robots {
    display: flex;
    border-top: 1px solid #ddd;
}

.section-robots .wrapper-robots .section-title {
    min-width: 160px;
    margin: 0;
    padding-left: 30px;
}

.section-robots .wrapper-robots .swiper-wrapper {
    margin: 0;
    padding-left: 32px;
}

.section-robots .wrapper-robots img {
    width: 280px;
    height: 300px;
}


/* --------------------------------------- */

.section-ma {
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
}

.section-ma .wrapper-ma {
    display: flex;
    border-top: 1px solid #ddd;
}

.section-ma .wrapper-ma .section-title {
    min-width: 160px;
    margin: 0;
    padding-left: 30px;
}

.section-ma .wrapper-ma .swiper-wrapper {
    margin: 0;
    padding-left: 32px;
}

.section-ma .wrapper-ma img {
    width: 280px;
    height: 300px;
}

/* --------------------------------------- */

.section-hend {
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
}

.section-hend .wrapper-hend {
    display: flex;
    border-top: 1px solid #ddd;
}

.section-hend .wrapper-hend .section-title {
    min-width: 160px;
    margin: 0;
    padding-left: 30px;
}

.section-hend .wrapper-hend img {
    width: 310px;
    height: 300px;
}

.scroll-section {
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-section.visible {
    opacity: 1;
    transform: translateY(0);
}