
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>㈜신우시스템</title>
    <link href="./css/footer.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/그림1.png" />
    <link rel="icon" href="./images/그림1.png" />
</head>
<body>
    <footer>
        <div class="inner">
            <div class="logo">
                <img src="./images/그림2.png" alt="신우시스템">
            </div>

            <div class="content-a">
                <p class="but"><a th:href="@{/part4}">오시는길</a></p>
                <p>(주)신우시스템 &nbsp; | &nbsp; 경기도 용인시 처인구 남사면 원암로 341</p>
                <p>Tel. +82-31-334-8417 &nbsp; | &nbsp;  Mobile. +82-10-3164-4486 &nbsp; | &nbsp; Fax. +82-31-624-3721</p>
                <p>Email. sinwoosystem@daum.net</p>
                <p class="highlight">Design Engineer of SHINWOO SYSTEM Co., Ltd.</p>
            </div>
        </div>
    </footer>
</body>
</html>