
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>㈜신우시스템</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link rel="shortcut icon" th:href="@{/images/그림1.png}" />
    <link rel="icon" th:href="@{/images/그림1.png}" />
  </head>
  <body>
    <header>
      <div class="sub-menu">
        <ul class="menu">
          <li><a th:href="@{/main}">Home</a></li>
          <li><a th:href="@{/login}">Login</a></li>
        </ul>
      </div>

      <div class="wrapper">
        <div class="max-width-wrapper">
          <a th:href="@{/main}">
            <img th:src="@{/images/new_logo3.png}" alt="신우시스템" />
          </a>

          <div class="main-menu">
            <nav>
              <ul>
                <li>
                  <a th:href="@{/part1}">신우시스템</a>
                  <ul>
                    <li><a th:href="@{/part1}">CEO인사말</a></li>
                    <li><a th:href="@{/part2}">회사개요</a></li>
                    <li><a th:href="@{/part3}">연혁</a></li>
                    <li><a th:href="@{/part4}">오시는 길</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/machine}">사업분야</a>
                  <ul>
                    <li><a th:href="@{/machine}">기계가공</a></li>
                    <li><a th:href="@{/space}">항공우주</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/part5}">생산공정</a>
                  <ul>
                    <li><a th:href="@{/part5}">설비현황</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/precision}">제품소개</a>
                  <ul>
                    <li><a th:href="@{/precision}">정밀부품가공</a></li>
                    <li><a th:href="@{/design}">디자인 및 설계</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/board-list}">고객센터</a>
                  <ul>
                    <li><a th:href="@{/board-list}">게시판·기타</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div></div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
