
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>㈜신우시스템</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="shortcut icon" th:href="@{/images/그림1.png}" />
    <link rel="icon" th:href="@{/images/그림1.png}" />
    <script src="./js/jquery-3.7.1.js"></script>
    <!-- lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- gsap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- swiper 6.8.4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js" integrity="sha512-BABFxitBmYt44N6n1NIJkGOsNaVaCs/GpaJwDktrfkWIBFnMD6p5l9m+Kc/4SLJSJ4mYf+cstX98NYrsG/M9ag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.css" integrity="sha512-aMup4I6BUl0dG4IBb0/f32270a5XP7H1xplAJ80uVKP6ejYCgZWcBudljdsointfHxn5o302Jbnq1FXsBaMuoQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/그림1.png" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script defer src="./js/main.js"></script>
<body>

<header>
      <div class="sub-menu">
        <ul class="menu">
          <li><a th:href="@{/main}">Home</a></li>
          <li><a th:href="@{/login}">Login</a></li>
        </ul>
      </div>

      <div class="wrapper">
        <div class="max-width-wrapper">
          <a th:href="@{/main}">
            <img th:src="@{/images/new_logo3.png}" alt="신우시스템" />
          </a>

          <div class="main-menu">
            <nav>
              <ul>
                <li>
                  <a th:href="@{/part}">신우시스템</a>
                  <ul>
                    <li><a th:href="@{/part1}">CEO인사말</a></li>
                    <li><a th:href="@{/part2}">회사개요</a></li>
                    <li><a th:href="@{/part3}">연혁</a></li>
                    <li><a th:href="@{/part4}">오시는 길</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/machine}">사업분야</a>
                  <ul>
                    <li><a th:href="@{/machine}">기계가공</a></li>
                    <li><a th:href="@{/space}">항공우주</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/part5}">생산공정</a>
                  <ul>
                    <li><a th:href="@{/part5}">설비현황</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/precision}">제품소개</a>
                  <ul>
                    <li><a th:href="@{/precision}">정밀부품가공</a></li>
                    <li><a th:href="@{/design}">디자인 및 설계</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{#}">고객센터</a>
                  <ul>
                    <li><a th:href="@{/board-list}">게시판·기타</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div></div>
          </div>
        </div>
      </div>
    </header>
<!-- 	<div th:insert="layouts/header :: header"></div>  -->

    <div class="swiper-container">
        <!-- 라디오버튼 -->
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <input type="radio" name="slider" id="slide5">

        <div class="swiper-wrapper">
            <div class="swiper-slide" id="img1">
                <img th:src="@{/images/main6.jpg}" alt="img1">
                <div class="text">
                    <p>" 고객만족 " 을 우선으로 하는</p>
                    <h1>(주) 신우시스템</h1>
                </div>
            </div>
            <div class="swiper-slide" id="img2">
                <img th:src="@{/images/main7.jpg}" alt="img2">
                <div class="text">
                    <p>" 끊임없는 혁신과 기술 개발 "</p>
                    <h1>신뢰할 수 있는 파트너</h1>
                </div>
            </div>
            <div class="swiper-slide" id="img3">
                <img th:src="@{/images/main8.jpg}" alt="img3">
                <div class="text">
                    <p>" 고객의 요구에 맞는 맞춤형 솔루션 제공 "</p>
                    <h1>최상의 품질 보장</h1>
                </div>
            </div>
            <div class="swiper-slide" id="img4">
                <img th:src="@{/images/main4.jpg}" alt="img4">
                <div class="text">
                    <p>" 최첨단 설비를 갖춘 제조공정 "</p>
                    <h1>신뢰의 가치</h1>
                </div>
            </div>
            <div class="swiper-slide" id="img5">
                <img th:src="@{/images/main5.jpg}" alt="img5">
                <div class="text">
                    <p>" 세계로 뻗어가는 글로벌 리더 "</p>
                    <h1>미래를 함께 하겠습니다</h1>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

<div th:insert="layouts/footer :: footer"></div>
    
</body>
</html>